$light-gray: #EEEEEE;
$middle-gray: #8E8E8E;
$dark-gray: #555555;
$black: #111;
$white: #FFF;

$red: #ed3131;
$yellow: #f9bd15;
$green: #5fca2c;

$browser-url: #DBDBDB;
$browser-top-bar: #EEE;

@mixin for-phone-only {
    @media only screen and (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-only {
    @media only screen and (min-width: 600px) and (max-width: 899px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media only screen and (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media only screen and (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media only screen and  (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media only screen and (min-width: 1800px) { @content; }
  }
  @mixin for-wrong-browser-size {
      @media only screen and (min-width: 600px) and (max-width: 1249px) {@content; }
  }

body {
    font-family: 'Roboto', sans-serif;

    .site-title {
        width: 100vw;
        top: 0px;
        background-color: $light-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        position: relative;
        z-index: 10;
       

        p {
            color: $middle-gray;
            font-size: 13px;
            font-weight: 400;
        }
    }
    
    .header {
        position: relative;
        display: flex;
        width: 100%;
        height: 87px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 5px 0px 30px rgba(0,0,0,0.2);
        z-index: 9;
        

        .header-text {
            font-weight: 500;
            padding-left: 25px;

            .subtitle {
                color: $middle-gray;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .nav {
            padding-right: 25px;
            font-size: 14px;
            display: flex;
            gap: 1rem;

            @include for-phone-only {
                display: none;
            }
        }
    }
}

.bg {
    display: flex;
    justify-content: center;

    @include for-phone-only {
        box-sizing: border-box;
        height: calc(100vh - 121px);
    } 
}

.navigate-icon {
    padding: .4rem .2rem;

    &:not(.disabled) {
        cursor: pointer;

        &:hover {
            fill: $black;
        }
    }

    &.disabled {
        opacity: .4;
    }
}

.button {
    color: $white;
    background: $dark-gray;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-size: .85rem;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $dark-gray;

    &.hollow {
        background: transparent;
        color: $dark-gray;

        &:hover {
            background: transparent;
            color: $black;
            box-shadow: inset 1px 0 0 $black, inset -1px 0 0 $black, inset 0 1px 0 $black, inset 0 -1px 0 $black;
        }
    }

    &:hover {
        background: $black;
        color: $white;
        border-color: $black;
    }
}

.window-wrapper {
    padding: 0 25px 42px 25px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.window {
    background-color: white;
    max-width: 1400px;
    bottom: 0;
    left: 25px;
    right: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
    box-shadow: 5px 0 20px rgba(0,0,0,0.15);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow:1 ;

    @include for-phone-only {
        background-color: $light-gray !important;
    }

    @include for-phone-only {
        height: 73vh !important;
    }

    .enlarge-view {
        display: none;

        @include for-phone-only{
            display: none;
        }
    }

    &:not(.smartphone-view) {
        @include for-wrong-browser-size {
            background-color: $light-gray !important;

            .wrapper-content {
                display: none;
            }

            .wrapper-enlarge-view {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;       
                
                .enlarge-view {
                    display: grid;
                    gap: 1rem;
                    margin: 0 25px 0 25px;
                    
                    .wrapper-svg {
                        display: flex;
                        justify-content: center;    
                    }

                    .first-text {
                        font-size: 40px;
                        opacity: 0.6;
                        font-weight: 300;
                        line-height: 1.4em;
                        text-align: center;
                    }

                    .second-text {
                        opacity: 0.4;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 1.44em;
                        text-align: center;
                        max-width: 500px;
                    }           
                }  
            }
        }
    }

    .wrapper-content {
        overflow-y: scroll;
        flex-grow: 1;
        position: relative;
        
        @include for-phone-only {
            display: none;
        }

        .content {
            position: absolute;
            inset: 0;
            overflow-y: scroll;
            line-height: 0;

            &.loading {
                align-items: center;
                display: flex;
            }
        }

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .window-header {
        display: flex;
        justify-content: space-between;
        background-color: #e5e5e5;
        padding: 5px 12px;
        align-items: center;

        @include for-wrong-browser-size {
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        }

        @include for-phone-only{
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        }
        
        .navigate-icons {
            display: flex;
        }

        svg {
            width: 24px;
            height: auto;
            color: #717171;

            @include for-phone-only{
                opacity: 0.3;
            }
        }
    
        .bullets {    
            display: flex;
            gap: 0.4rem;
    
            .red-bullet {
                background-color: $red;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
    
            .yellow-bullet {
                background-color: $yellow;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }

            .green-bullet {
                background-color: $green;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
        }
    
        .browser-url {
            display: flex;
            background-color: $browser-url;
            min-width: 100px;
            max-width: 690px;
            flex-grow: 1;
            height: 30px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            color: $dark-gray;
            margin: 0 1rem 0 1rem;
            font-size: 13px;
            
            span {
                @include for-phone-only {
                    display: none;
                }            
            }
        }
    }
}

.wrapper-no-support{
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;

    @include for-tablet-portrait-up {
        display: none;
    }

    .no-support {
        max-width: 250px;
    
        .primary-p {
            @include for-phone-only {
                color: black;
                font-size: 40px;
                font-weight: 300;
                opacity: 0.6;
                line-height: 1em;
                padding-bottom: 1.5rem;
            }
        }

        .secundary-p {
            @include for-phone-only {
                color: black;
                font-size: 18px;
                opacity: 0.4;
                line-height: 1.44em;
            }
        }
    }
}

.smartphone-view {
    background-color: white;
    max-width: 428px;
    max-height: 726px;
    border-radius: 7px;
    overflow: hidden;
    margin: 0 auto 1.5rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);

    @include for-phone-only {
        background-color: $light-gray;
    }

    @include for-wrong-browser-size {
        background-color: $light-gray;
    }

    .window-header {
        display: flex;
        justify-content: space-between;
        background-color: #EFEFEF;
        padding: 5px 12px;
        align-items: center;
    
        svg {
            width: 20px;
            height: auto;
            color: #717171;
            padding-left: 3px;
        }
    
        .bullets {
            display: flex;
            gap: 0.3rem;
    
            .red-bullet {
                background-color: $red;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
    
            .yellow-bullet {
                background-color: $yellow;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }

            .green-bullet {
                background-color: $green;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
        }
    
        .browser-url {
            display: flex;
            background-color: $browser-url;
            min-width: 100px;
            max-width: 690px;
            flex-grow: 1;
            height: 30px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            color: $dark-gray;
            margin: 0 1rem 0 1rem;
        }
    }
}

.tablet-view {
    box-sizing: border-box;
    background-color: white;
    max-width: 900px;
    max-height: 740px;
    border-radius: 7px;
    overflow: hidden;
    margin: 0 auto 1.5rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);

    .window-header {
        display: flex;
        justify-content: space-between;
        background-color: #EFEFEF;
        padding: 5px 12px;
        align-items: center;
    
        svg {
            width: 20px;
            height: auto;
            color: #717171;
            padding-left: 3px;
        }
    
        .bullets {
            display: flex;
            gap: 0.3rem;
    
            .red-bullet {
                background-color: $red;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
    
            .yellow-bullet {
                background-color: $yellow;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }

            .green-bullet {
                background-color: $green;
                border-radius: 100px;
                width: 12px;
                height: 12px;
            }
        }
    
        .browser-url {
            display: flex;
            background-color: $browser-url;
            width: 188px;
            height: 30px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            color: $dark-gray;
        }
    }
}


.footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 0px 30px rgba(0,0,0,0.1);

    @include for-phone-only{
        display: none;
    }

    p {
        font-size: 13px;
        padding-right: 1rem;
        color: $dark-gray;
    }

}